*,
*::before,
*::after {
  box-sizing: border-box;
}

.indexhome {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
